/* index Page */
.index {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index > p {
    text-align: center;
}

/* items div */
.index-list {
    display: flex;
    flex-direction: column;
    align-items: start;

    max-width: 600px;
    width: 100%;

    margin: 2rem 0;
    padding: 1rem;
    border-radius: 5px;

    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(32, 32, 32));
}

.index-list ol {
    list-style-type: none;
    counter-reset: index;
}

.index-list li {
    counter-increment: index;
    margin: 1rem 0;
}

/* cool arrow thinggy */
.index-list ol > li::before {
    content: '>';
    color: rgb(255, 0, 0);
    margin-right: 0.5rem;
}

.index-list a {
    color: white;
    text-decoration: none;
}

.index-list a:hover {
    text-decoration: underline;
}

/* cards */
.card {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;

    width: 100%;
    margin: 20px 0;
    border-radius: 8px;
    
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(32, 32, 32));
}

/* image to the left of the card */
.card > .display {
    grid-column: 1 / 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card > .display > * {
    flex: 1;

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
}

/* card's info text */
.card > .info {
    grid-column: 2 / 2;

    padding: 1rem 2rem;
    max-width: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card > .info > h3 {
    margin: 20px 0;
    text-align: center;
}

.card > .info > a {
    margin: 20px 0;
    padding: 10px 20px;
    border-radius: 5px;

    color: white;
    text-decoration: none;

    background-color: rgb(255, 0, 0);
}

/* buttons */
.card > .info > a:hover {
    background-color: rgb(255, 0, 0, 0.8);
}