.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews > p {
    text-align: center;
}

.reviews-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 2rem 0;
}

table {
    margin: 1rem 0;
}

table th, table td {
    border-bottom: 1px solid #333;
    padding: 10px;
}

table th {
    background-color: #1d1d1d;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #363636;
}

table tr:hover {
    background-color: #555;
}

table td.center {
    text-align: center;
}

img.inverted {
    filter: invert(1);
}

.purchase-button {
    background-color: purple;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darkviolet;
    }
}